* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;

}


.header {
    height: 90px;
    background-color: black;
    width: 100%;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.content .image {
    line-height: 90px;
}

ul {
    list-style: none;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.leftbar {
    line-height: 80px;
}

.leftbar ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    font-size: 17px;
}

.rightbar ul li a:hover {
    color: gold;
}

.rightbar {
    line-height: 80px;
}

.rightbar ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 4px 10px;
    font-size: 17px;
}

.rightbar ul li a.pip {
    border-right: 1px;
    border-color: white;
    border-right-style: solid;
}

.leftbar ul li a:hover {
    color: gold;
}

.searchbar {
    flex: 1;
    align-self: center;
    margin: 15px 15px 20px 15px;
}

input.form-control.me-2 {
    font-size: 16px;
    color: black;
}

input.btn.btn-outline-light {
    font-size: 15px;
}

img.img-cart {
    width: 40px;
    height: 100%;
    background: white;
    padding: 5px;
}

.cart {
    line-height: 80px;
    margin-left: 15px;
}

button.btn.btn-outline-light.btn-cart {
    padding: 0px;
}

img.img-cart:hover {
    background-color: cornsilk;
}

.slider-container {
    width: 100%;
    /*margin: 10px auto;*/
    text-align: center;
    position: relative;
}

.slider-container img {
    width: 100%;
    /*margin: 0 auto;*/
    height: 80vh;
    /*object-fit: cover;*/
}

.mySlide {
    width: 100%;
    position: relative;
}


.fade-c {
    -webkit-animation-name: fade-c;
    -webkit-animation-duration: 2s;
    animation-name: fade-c;
    animation-duration: 2s;
}

@-webkit-keyframes fade-c {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-c {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 420px) {
    .mySlide img {
        height: 35vh;
    }
}

.brand {
    margin-top: 20px;
    margin-left: 85px;
    margin-bottom: 50px;
}

img.dior {
    height: 100px;
    width: 200px;
}

.col.image-brand.dior {
    margin-top: 10px;
}

.col.image-brand.calvin {
    margin-top: 35px;
}

img.calvin {
    width: 200px;
    height: 50px;
}


img.versace {
    width: 200px;
    height: 135px;
}

.col.image-brand.ysl {
    margin-top: 25px;
}

img.ysl {
    width: 200px;
    height: 80px;
}

.col.image-brand.lauder {
    margin-top: 45px;
}

img.lauder {
    width: 200px;
    height: 40px;
}

.banner {
    margin-top: 50px;
    margin-bottom: 20px;
}

img.img-cart-list {
    width: 100%;
    height: 384px;
}

.content-cardImage {
    text-decoration: none;
    color: black;
}

.content-cardImage .des p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}

.card-product {
    margin: 50px 0px 50px;
}

.perfume-category {
    box-shadow: 1px 10px 7px -1px rgba(0,0,0,0.28);
    -webkit-box-shadow: 1px 10px 7px -1px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px 10px 7px -1px rgba(0,0,0,0.28);
    margin: 0px 5px;
}

.intro-product-trending {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.intro-content-des {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

a.btn.btn-outline-dark.btn-view-all {
    font-size: 15px;
    font-weight: 600;
}

.btn-view-all {
    border-radius: 40px;
    padding: 5px 25px;
}

.card {
    height: 450px;
}

img.card-img-top {
    height: 250px;
}

h1.card-title-brand {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

h3.card-title-productName {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;
}

span.card-product-price {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    margin-bottom: 1px;
}

h4.card-product-gender {
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-weight: 600;
}

a.btn.btn-outline-success.card-view-detail {
    font-size: 14px;
    padding: 5px 15px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5px;
}

.intro-product-recommend {
    text-align: center;
}

.footer {
    background-color: #f8f9fa;
    /* height: 500px; */
    width: 100%;
    padding: 50px 0px 20px;
    color: black;
}

h1.footer-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.footer-des {
    font-size: 15px;
    margin: 16px 0px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.footer-des:hover {
    color: forestgreen;
    cursor: pointer;
}

.contact-logo {
    display: flex;
    flex-direction: row;
}

.img-logo{
    width: 50%;
}

.logo {
    width: 100%;
}

.source {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}
